/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.datepicker {
	
	position:absolute;	
	z-index:1;
	display:none;
	left: 0;
	width: 300px;
	border:1px solid $sc-color-theme-border;
	
	box-shadow: 0 $sc-flyout-arrow-shadow-height $sc-flyout-arrow-shadow-height * 2 transparentize($sc-color-overlay, 1-0.175);
	padding: $sc-base-padding * 4;
	margin-top: $sc-flyout-arrow-height;
	background:$sc-pusher-bg;
	
	&:before {
		position: absolute;
		top: -$sc-flyout-arrow-height;
		left: 14px;
		display: inline-block;
		border-right: $sc-flyout-arrow-height solid transparent;
		border-bottom: $sc-flyout-arrow-height solid $sc-color-theme-border;
		border-left: $sc-flyout-arrow-height solid transparent;
		content: '';
	}

	&:after {
		position: absolute;
		top: -$sc-flyout-arrow-shadow-height;
		left: 15px;
		display: inline-block;
		border-right: $sc-flyout-arrow-shadow-height solid transparent;
		border-bottom: $sc-flyout-arrow-shadow-height solid $sc-color-tertiary;
		border-left: $sc-flyout-arrow-shadow-height solid transparent;
		content: '';
	}

	.datepicker-switch{
		width: 100%;
		cursor: pointer;
		text-align: center;
	}

	.day {
		cursor:pointer;
		text-align: center;
		color: $sc-color-theme;
		padding: $sc-base-padding $sc-base-padding * 2;
	}

	.day.today {	
		background-color: $sc-color-theme-background;
		&:hover {
			background-color: $sc-color-theme-background;
	  	}
	}

	.next, .prev{
		color: white;
		cursor: pointer;
		width: $sc-target-size;
		height: $sc-target-size;
		line-height: $sc-target-size;
		
		@extend .fa;
		font-size:20px;
		display:inline;
		&:before{
			color: $sc-color-theme;
		}
	}

	.prev{
		text-align: left;
		@extend %fa-angle-double-left;
	}

	.next{
		text-align: right;
		@extend %fa-angle-double-right;
	}

	.month, .year{
		cursor: pointer;
		text-align: center;
		display: block;
		width: $sc-target-size;
		height: $sc-target-size;
		line-height: $sc-target-size;
		float: left;
		margin: 1%;
	}

	.day:hover, .month:hover, .year:hover{
		background-color: $sc-color-theme-background-light;
	}

	.day.active{
		background-color: $sc-color-primary;
		color: $sc-color-tertiary;
	}

	.day.old {
		color:  $sc-color-theme-light;
	}

	.day.new,
	.day.disabled, 
	.month.disabled, 
	.year.disabled {
		color:  $sc-days-disabled;
	}

}


.datepicker-orient-top{
	
	margin-top: $sc-base-margin * 2;

}

.datepicker-orient-bottom{
	
	margin-bottom: $sc-base-margin * 2;	

	&:before{
		top: initial;
		bottom: -7px;
		border-top: $sc-flyout-arrow-height solid $sc-color-theme-border;
		border-bottom: 0;
	}

	&:after{
		top: initial;
		bottom: -6px;
		border-top: $sc-flyout-arrow-height solid $sc-color-tertiary;
		border-bottom: 0;
	}

}
