/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Image gallery
//
// Markup:
// <ul class="image-gallery" data-type="image-gallery">
// 	<li data-zoom>
// 		<img src="images/Reference_Item_Large.jpg" alt itemprop="image">
// 	</li>
// 	<li data-zoom>
// 		<img src="images/Reference_Item_Large.jpg" alt itemprop="image">
// 	</li>
// 	<li data-zoom>
// 		<img src="images/Reference_Item_Large.jpg" alt itemprop="image">
// 	</li>
// </ul>
// 
// Styleguide 11.7

.image-gallery {
	list-style: none;
	margin: 0;
}

.image-gallery li {
	display: inline-block;
}

.image-gallery img {
    display: block;
    max-width: 100%;
    height: auto;
}

// Wrapped in HTML tag to add the smallest hevier selector
// to fix bug on IE
html {

	.bx-controls {
		margin-top: $sc-base-margin * 4;
	}
	
	.bx-wrapper {
		margin-bottom: 0;

		.bx-viewport {
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			left: 0;
		}

		.bx-pager {

			text-align: center;
			margin-top: $sc-base-margin * 4;

			.touch & {
				overflow-x: scroll;
				-webkit-overflow-scrolling: touch;
				white-space: nowrap;
			}

			a {
				display: block;
				width:10px;
				height: 10px;
				border-radius:100%;
				opacity: 0.5;

				background-color: $sc-color-bx-pager-background;
				margin: 0 $sc-base-margin;
			}

			a.active{
				opacity: 1;
			}

			img{
				display: none;
			}

			@media (min-width: $screen-md-min) {
				margin-bottom: $sc-base-margin * 4;
				position: static;

				img{
					display: inline;
				}

				a {
					margin: 0 8px;
					padding: 3px;

					width:	auto;
					height: auto;
					border-radius:0;
					background-color: transparent;
				}

			}
		}

		img {
			margin: 0 auto;
		}


	}

	.bx-pager-item img {
		max-width: 50px;		
	}	

}

/* 271491 IE8 styles for carousel */
.bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
}


.carousel-next-arrow{
	@extend .fa;
	@extend %fa-angle-right;
}

.carousel-prev-arrow{
	@extend .fa;
	@extend %fa-angle-left;
}