/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// List header
//
// Markup: 
// <nav class="list-header">
// 	<div class="list-header-actions">
// 		<button class="list-header-viewoption active"> <i class="list-header-viewoption-list"></i></button>
// 		<button class="list-header-viewoption"> <i class="list-header-viewoption-box"></i></button>
// 		<button class="list-header-viewoption"> <i class="list-header-viewoption-grid"></i></button>
// 	</div>
// 	<div class="list-header-expander">
// 		<button class="list-header-expander-button" data-toggle="collapse" data-target="#list-header-filters" aria-expanded="true" aria-controls="list-header-filters">
// 			Filter
// 			<i class="list-header-expander-icon"></i>
// 		</button>
// 	</div>
// 	<div class="list-header-filters collapse" id="list-header-filters">
// 		<div class="list-header-filters-wrapper">
// 			<!--
// 				<div class="list-header-filters-row">
// 					<div class="list-header-filter-column">
// 						<input class="list-header-filter-input" type="date"/>
// 					</div>
// 					<div class="list-header-filter-column">
// 						<input class="list-header-filter-input" type="date"/>
// 					</div>
// 				</div>
// 			-->
// 			<div class="list-header-filters-row">
// 				<div class="list-header-filter-column">
// 					<select class="list-header-filter-input">		
// 						<option>Show 12</option>
// 						<option>Show 24</option>
// 						<option>Show 48</option>
// 					</select>
// 				</div>
// 				<div class="list-header-filter-column">
// 					<select class="list-header-filter-input">
// 						<option>Low price</option>
// 						<option>High price</option>
// 					</select>
// 				</div>
// 				<div class="list-header-filter-column">
// 					<button class="list-header-filter-facets">
// 						Filter by
// 						<i class="list-header-filter-facets-icon"></i>
// 					</button>
// 				</div>
// 			</div>
// 		</div>
// 	</div>
// </nav>
// 
// Styleguide 11.9

.list-header{
	background:transparent;
	@media (min-width: $screen-lg-min){
	  float: right;
	}
}

.list-header-actions{
	float:right;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Expander

.list-header-expander{

	display:inline-block;

	@media (min-width: $screen-sm-min){
		float: right;
		margin-right: $sc-base-margin * 2;
	}

	@media (min-width: $screen-md-min ){
		display: none;
	}
}

.list-header-expander-button{
	@extend .button-tertiary;
	@extend .button-list-header;

	padding-top:0;
	padding-bottom:0;

	&:hover, &:hover .list-header-expander-icon {
		color: $sc-color-tertiary;
	}
}

.list-header-expander-icon{
	display:inline-block;
	top:2px;
	font-size: $sc-navigation-icon-size;
	margin-left: $sc-base-margin;
	position: relative;
	@extend .accordion-toggle-icon;
}
/////////////////////////////////////////////////////////////////////////////////////////////
//Filters

.list-header-filters{

	clear:both;
	margin-left: -$grid-gutter-width / 2;
	margin-right: -$grid-gutter-width / 2;

	@media (min-width: $screen-md-min){
		float:right;
		clear: none;
		border:0;
		margin: 0;

		visibility: visible;
		display: block;//override for bootrap collapse
	}
}

//wrapper to apply padding for the collapse element to animate correctly see
//https://github.com/twbs/bootstrap/issues/12093
.list-header-filters-wrapper{

	padding: $sc-base-padding * 4 $sc-base-padding * 2;
	background-color: $sc-color-theme-background-light;
	border: 1px solid $sc-color-theme-border;
	margin-top: $sc-base-margin * 4;

	@media (min-width: $screen-sm-min){
		margin:0;
	}

	@media (min-width: $screen-md-min){
		padding: 0;
		background-color: $sc-color-tertiary;
		border:0;
	}
}

.list-header-filters-row{
	@extend .clearfix;

	@media (min-width: $screen-md-min ){
		display:inline-block;
	}
}

.list-header-filter-column{
	float:left;
	padding:0 $sc-base-padding;
	width:100%;

	@media (min-width: $screen-sm-min) {
		width:33%;
	}

	@media (min-width: $screen-md-min ){
		width: auto;
	}
}

.list-header-filter-input {
	@extend .input-small;
	height:$sc-target-size;
	width:100%;
	

	@media (min-width: $screen-sm-min){
		margin-bottom:0;
	}

	@media (min-width: $screen-md-min){
		width:auto;
	}
}


.list-header-filter-facets{
	@extend .button-secondary;
	@extend .button-small;
	height: $sc-target-size;
	line-height: $sc-navigation-icon-size;
	text-align:left;

	width:100%;
	
	@media (min-width: $screen-md-min){
		display: none;
	}
}

.list-header-filter-facets-icon{
	@extend .icon-angle-right;
	color: $sc-color-tertiary;
	float:right;
	font-size: $sc-navigation-icon-size;
}
.list-header-title {
    @media (min-width: $screen-sm-min) {
        line-height: 45px;
        height: 45px;
        float: left;
    }    
}
.list-header-button {
    @extend .button-medium;
    @extend .button-secondary;
    width: auto;
    float: right;
}