/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.checkout-layout {
	@extend %sc-layout;
}

.checkout-layout-header {
  @include box-shadow(3px 0px 6px $sc-color-secondary);
  @extend .sc-margin-bottom-medium;
}

.checkout-layout-content{
	@extend .container;
}

.checkout-layout-footer {
	@extend %sc-footer;
}

.checkout-layout-breadcrumb{}

.checkout-layout-no-javascript-msg {
	@extend .message-warning; 
	width: 100%;
}

body{
	background-color: !important;
	div{
		background-color: !important;
	}
}
.article {
    border: 1px solid #ddd !important;
    h2, h3{
    	font-size: 30px !important;
    }
    h2.order-wizard-title{
        padding: 0 30px !important;
    }
    .address-edit-fields-group-form-controls p{
    	background-color: #fff !important;
    }
}